body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

header {
    padding: 35px 170px 0px 170px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
}

header img {
    width: 450px;
}

.banner {
    margin-top: 25px;
}

.header-title {
    margin-bottom: 20px;
    width: 560px;
    color: #272727;
    font-size: 62px;
    font-weight: 800;
}

.header-details {
    width: 550px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.btn-primary {
    margin-top: 8px;
    padding: 15px 25px;
    display: flex;
    border: none;
    border-radius: 10px;
    background-color: #E55473;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #C1435E;
}